<h1>Teams</h1>
<div class="container">
    <div class="team">

      <table>
        <tr>
          <th class="first_team_header"></th>
          <th class="first_team_header">Country</th>
          <th class="team_header">W</th>
          <th class="team_header">D</th>
          <th class="team_header">L</th>
          <th class="team_header">GF</th>
          <th class="team_header">GA</th>
          <th class="team_header">GD</th>
          <th class="team_header">YC</th>
          <th class="team_header">RC</th>
        </tr>
        <% sorted_teams = @teams.sort_by { |k| k["name"]} %>
        <% sorted_teams.each do |team| %>
        <tr>
          <td class="team_flag"><img src=<%= team.photo %> alt=""></td>
          <td class="first_team_data">
          <%= link_to team_path(team) do %>
            <h6><%= team.name %></h6>
          <% end %>
          </td>
          <td class="team_data"><%= team.wins %></td>
          <td class="team_data"><%= team.draws %></td>
          <td class="team_data"><%= team.losses %></td>
          <td class="team_data"><%= team.goals_for %></td>
          <td class="team_data"><%= team.goals_against %></td>
          <td class="team_data"><%= team.goals_for - team.goals_against %></td>
          <td class="team_data"><%= team.yellow_card %></td>
          <td class="team_data"><%= team.red_card %></td>
        </tr>
        <% end %>
      </table>
      <br>
    </div>
</div>

