<h1>Teams</h1>
<div class="container">
    <div class="team">

      <table>
        <tr>
          <th class="team_header">Country</th>
          <th class="team_header">Wins</th>
          <th class="team_header">Draws</th>
          <th class="team_header">Losses</th>
          <th class="team_header">Goals For</th>
          <th class="team_header">Goals Against</th>
          <th class="team_header">Goal Diff</th>
          <th class="team_header">Yellow Cards</th>
          <th class="team_header">Red Cards</th>
        </tr>
        <% sorted_teams =@teams.sort_by { |k| k["name"]} %>
        <% sorted_teams.each do |team| %>
        <tr>
          <td class="first_team_data">
          <%= link_to team_path(team) do %>
            <h6><%= team.name %></h6>
          <% end %>
          </td>
          <td class="team_data"><%= team.wins %></td>
          <td class="team_data"><%= team.draws %></td>
          <td class="team_data"><%= team.losses %></td>
          <td class="team_data"><%= team.goals_for %></td>
          <td class="team_data"><%= team.goals_against %></td>
          <td class="team_data"><%= team.goals_for - team.goals_against %></td>
          <td class="team_data"><%= team.yellow_card %></td>
          <td class="team_data"><%= team.red_card %></td>
        </tr>
  <% end %>
      </table>
      <br>
    </div>
</div>

