<% @groups = Group.all %>
<% @matches = Match.all %>
<% @teams = Team.all %>
<div class="container">
  <div class="team-title col-xs-8">
    <img src=<%= @team.photo %> alt="">
    <span class="team-title-name">
    <% if @team.name == "Morroco" %>
      Morocco
    <% else %>
    <%= @team.name %>
    <% end %>
    </span>
  </div>
  <div class="team-show-table">
  <!-- Desktop -->
    <table class="team-home_groups hidden-xs hidden-sm">
      <tr>
        <th class="team_data_head">Wins</th>
        <th class="team_data_head">Draws</th>
        <th class="team_data_head">Losses</th>
        <th class="team_data_head">Points</th>
        <th class="team_data_head">Goals For</th>
        <th class="team_data_head">Goals Against</th>
        <th class="team_data_head">Goal Diff</th>
        <th class="team_data_head">Yellow Cards</th>
        <th class="team_data_head">Red Cards</th>
      </tr>
      <tr>
        <td class="team_data_value"><%= @team.wins %></td>
        <td class="team_data_value"><%= @team.draws %></td>
        <td class="team_data_value"><%= @team.losses %></td>
        <td class="team_data_value"><%= @team.points %></td>
        <td class="team_data_value"><%= @team.goals_for %></td>
        <td class="team_data_value"><%= @team.goals_against %></td>
        <td class="team_data_value"><%= @team.goals_for - @team.goals_against %></td>
        <td class="team_data_value"><%= @team.yellow_card %></td>
        <td class="team_data_value"><%= @team.red_card %></td>
      </tr>
    </table>
  <!-- Mobile -->
    <table class="team-home_groups hidden-lg hidden-md">
      <tr>
        <th class="team_data_head">Wins</th>
        <th class="team_data_head">Draws</th>
        <th class="team_data_head">Losses</th>
        <th class="team_data_head">Points</th>
      </tr>
      <tr>
        <td class="team_data_value"><%= @team.wins %></td>
        <td class="team_data_value"><%= @team.draws %></td>
        <td class="team_data_value"><%= @team.losses %></td>
        <td class="team_data_value"><%= @team.points %></td>
      </tr>
      <tr>
        <th class="team_data_head">Goals For</th>
        <th class="team_data_head">Goals Against</th>
        <th class="team_data_head">Yellow Cards</th>
        <th class="team_data_head">Red Cards</th>
      </tr>
      <tr>
        <td class="team_data_value"><%= @team.goals_for %></td>
        <td class="team_data_value"><%= @team.goals_against %></td>
        <td class="team_data_value"><%= @team.yellow_card %></td>
        <td class="team_data_value"><%= @team.red_card %></td>
      </tr>
    </table>
  </div>
    <% team_matches = @matches.where(home_name: @team.name) %>
    <% team_matches.sort_by {|e|e.date}.each do |match_unit| %>
    <% team_home = @teams.where(name: match_unit.home_name) %>
    <% team_away = @teams.where(name: match_unit.away_name) %>
    <div class="team-match">
        <div class="show_location">
          <span class="show_data_value"><%= match_unit.location %></span>
        </div>
        <table class="show_match">
          <tr>
            <td><img src="<%= team_home.first.photo %> " alt="" class="hidden-xs"></td>
            <td class="show_team_value first_value home_team_name"><%= match_unit.home_name %></td>
            <td class="show_data_value home_team_goals"><%= match_unit.home_team_goals %></td>
            <td class="show_data_value team-show-center">:</td>
            <td class="show_data_value away_team_goals"><%= match_unit.away_team_goals %></td>
            <td class="show_team_value last_value away_team_name"><%= match_unit.away_name %></td>
            <td><img src="<%= team_away.first.photo %> " alt="" class="hidden-xs"></td>
          </tr>
        </table>
        <div class="show_next_match">
          <% if match_unit.date > DateTime.now %>
          <span class="team-show-date">Live in: </span> <span class="team-show-date countdown"><%= match_unit.date %></span>
          <span class="team-show-date"><%= match_unit.date %></span>
          <script>
          // Set the date we're counting down to
          var countdown_divs = document.querySelectorAll(".countdown")
          console.log(countdown_divs)
          countdown_divs.forEach((div) => {
            var countDownDate = new Date(div.innerHTML).getTime() - (180 * 60 * 1000);

            // Update the count down every 1 second
            var x = setInterval(function() {

              // Get todays date and time
              var now = new Date().getTime();

              // Find the distance between now an the count down date
              var distance = countDownDate - now;

              // Time calculations for days, hours, minutes and seconds
              var days = Math.floor(distance / (1000 * 60 * 60 * 24));
              var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
              var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
              var seconds = Math.floor((distance % (1000 * 60)) / 1000);

              // Display the result in the element with id="demo"
              div.innerHTML = days + "d " + hours + "h "
              + minutes + "m " + seconds + "s ";

              // If the count down is finished, write some text
              if (distance < 0) {
                clearInterval(x);
                div.innerHTML = "LIVE";
              }
            }, 1000);
          });
          </script>
          <% else %>
          <span class="team-show-date">Match Was played on: </span>
          <br>
          <span class="show-played team-show-date"><%= match_unit.date %></span>
          <% end %>
        </div>
      </div>
    <% end %>
    <% team_matches = @matches.where(away_name: @team.name) %>
    <% team_matches.sort_by {|e|e.date}.each do |match_unit| %>
    <% team_home = @teams.where(name: match_unit.home_name) %>
    <% team_away = @teams.where(name: match_unit.away_name) %>
    <div class="team-match">
      <div class="show_location">
        <span class="show_data_value"><%= match_unit.location %></span>
      </div>
      <table class="show_match">
        <tr>
          <td><img src="<%= team_home.first.photo %> " alt="" class="hidden-xs"></td>
          <td class="show_team_value first_value home_team_name"><%= match_unit.home_name %></td>
          <td class="show_data_value home_team_goals"><%= match_unit.home_team_goals %></td>
          <td class="show_data_value team-show-center">:</td>
          <td class="show_data_value away_team_goals"><%= match_unit.away_team_goals %></td>
          <td class="show_team_value last_value away_team_name"><%= match_unit.away_name %></td>
          <td><img src="<%= team_away.first.photo %> " alt="" class="hidden-xs"></td>
        </tr>
      </table>
      <div class="show_next_match">
        <% if match_unit.date > DateTime.now %>
        <span class="team-show-date">Live in: </span> <span class="team-show-date countdown"><%= match_unit.date %></span>
        <span class="team-show-date"><%= match_unit.date %></span>
        <script>
        // Set the date we're counting down to
        var countdown_divs = document.querySelectorAll(".countdown")
        console.log(countdown_divs)
        countdown_divs.forEach((div) => {
          var countDownDate = new Date(div.innerHTML).getTime() - (180 * 60 * 1000);

          // Update the count down every 1 second
          var x = setInterval(function() {

            // Get todays date and time
            var now = new Date().getTime();

            // Find the distance between now an the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            div.innerHTML = days + "d " + hours + "h "
            + minutes + "m " + seconds + "s ";

            // If the count down is finished, write some text
            if (distance < 0) {
              clearInterval(x);
              div.innerHTML = "LIVE";
            }
          }, 1000);
        });
        </script>
        <% else %>
        <span class="team-show-date">Match Was played on: </span>
        <br>
        <span class="show-played team-show-date"><%= match_unit.date %></span>
        <% end %>
      </div>
    </div>
    <% end %>
  <div>
    <div>
      <%= link_to "All Teams", teams_path(@teams) %>
      <br>
      <%= link_to "Back", :back %>
    </div>
  </div>
</div>

