
<div class="container">
  <h2><%= @group.name %></h2>
  <table class="home_groups">
    <tr>
      <th class="group_flag_head hidden-xs"></th>
      <th id="first_head">Country</th>
      <th class="data_head">W</th>
      <th class="data_head">D</th>
      <th class="data_head">L</th>
      <th class="data_head">Pts</th>
      <th class="data_head">GF</th>
      <th class="data_head">GA</th>
      <th class="data_head">GD</th>
      <th class="data_head">YC</th>
      <th class="data_head">RC</th>
    </tr>
    <% @group.teams.each do |team| %>
    <tr>
      <td class="group_flag_data hidden-xs"><img src="<%= team.photo %>" alt=""></td>
      <td id="first_value"><%= team.name %></td>
      <td class="data_value"><%= team.wins %></td>
      <td class="data_value"><%= team.draws %></td>
      <td class="data_value"><%= team.losses %></td>
      <td class="data_value"><%= team.points %></td>
      <td class="data_value"><%= team.goals_for %></td>
      <td class="data_value"><%= team.goals_against %></td>
      <td class="data_value"><%= team.goals_for - team.goals_against %></td>
      <td class="data_value"><%= team.yellow_card %></td>
      <td class="data_value"><%= team.red_card %></td>
    </tr>
    <% end %>
  </table>
  <div>
    <div>
      <%= link_to "All Teams", teams_path(@teams) %>
      <br>
      <%= link_to "Back", :back %>
    </div>
  </div>
</div>
