<% @matches = Match.all %>
<% @groups = Group.all %>

<div class="navbar navbar-fixed-top">
  <!-- Desktop -->
  <div class="navbar-item home-button">
    <%= link_to root_path do %>
       <%= image_tag "logo.png", :class => "navbar_logo" %>
    <% end %>
  </div>
  <div class="navbar-item navbar-links hidden-xs hidden-sm">
    <%= link_to "Groups", groups_path(@groups) %>
    <%= link_to "Matches", matches_path(@matches) %>
    <%= link_to "Teams", teams_path(@teams) %>
  </div>
  <div class="navbar-item navbar_match hidden-xs hidden-sm">
    <% array_date = [] %>
    <% @matches.each_with_index do |match_data, index| %>
      <% if DateTime.now > match_data.date %>
      <% elsif DateTime.now < match_data.date %>
        <% array_date << @matches[index].date %>
      <% end %>
    <% end %>
      <% played_sorted = @matches.sort_by { |k, _v| k.match_status == "Not played"} %>
      <% date_sorted = played_sorted.sort_by {|k, _v| k.date if k.date > DateTime.now} %>
    <span>Next Match: <%= date_sorted.first.home_name %> vs <%= date_sorted.first.away_name %></span>
    <br>
    <span class="spacing upcoming_match">
      <%= date_sorted.first.date %>
    </span>
    <script>
    // Set the date we're counting down to
    var countdown_divs = document.querySelectorAll(".upcoming_match")
    console.log(countdown_divs)
    countdown_divs.forEach((div) => {
      var countDownDate = new Date(div.innerHTML).getTime();

      // Update the count down every 1 second
      var x = setInterval(function() {

        // Get todays date and time
        var now = new Date().getTime();

        // Find the distance between now an the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the element with id="demo"
        div.innerHTML = days + "d " + hours + "h "
        + minutes + "m " + seconds + "s ";

        // If the count down is finished, write some text
        if (distance < 0) {
          clearInterval(x);
          div.innerHTML = "LIVE";
        }
      }, 1000);
    });
    </script>
  </div>
  <div class="navbar-item login_and_register hidden-xs hidden-sm">
    <div class="spacing_login_and_register login">
      <% if user_signed_in? %>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <button class="btn navbar-btn">Logout</button>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
        <button class="btn navbar-btn">Login</button>
        <% end %>
      <% end %>
    </div>
    <div class="spacing_login_and_register register">
      <% if user_signed_in? %>
      <% else %>
        <%= link_to new_user_registration_path do %>
        <button class="btn navbar-btn">Register</button>
        <% end %>
      <% end %>
    </div>
  </div>
  <!-- Mobile -->
  <div class="navbar-item navbar-bars hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
        <li>
          <%= link_to "Groups", groups_path(@groups) %>
        </li>
        <li>
          <%= link_to "Matches", matches_path(@matches) %>
        </li>
        <li>
          <%= link_to "Teams", teams_path(@teams) %>
        </li>
        <li>
        <% if user_signed_in? %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Login", new_user_session_path %>
          <%= link_to "Register", new_user_registration_path %>
        <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>


