<% @groups = Group.all %>
<h1>Matches</h1>

<div class="container">
  <% sorted_matches = @matches.sort_by { |k| k.date}%>
  <% sorted_matches.each_with_index do |match_unit, index| %>
  <% if match_unit.date > DateTime.now %>
    <div class="match">
      <%#= team.photo.where(match_unit["home_team_id"]) %>
      <%= link_to match_path(match_unit) do %>
        <%= match_unit.home_name %> vs <%= match_unit.away_name%>
      <% end %>
      <br>
      <%= match_unit.location %>
      <br>
      <span id="countdown" class="countdown"><%= match_unit.date %></span>
      <br>
      <!-- <div class="date"><%= match_unit.date %></div> -->
    <script>
      // Set the date we're counting down to
      var countdown_divs = document.querySelectorAll(".countdown")
      console.log(countdown_divs)
      countdown_divs.forEach((div) => {
        var countDownDate = new Date(div.innerHTML).getTime();

        // Update the count down every 1 second
        var x = setInterval(function() {

        // Get todays date and time
        var now = new Date().getTime();

        // Find the distance between now an the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the element with id="demo"
        div.innerHTML = days + "d " + hours + "h "
        + minutes + "m " + seconds + "s ";

        // If the count down is finished, write some text
        if (distance < 0) {
          clearInterval(x);
          div.innerHTML = "LIVE";
            }
          }, 1000);
        });

      // var dates = document.querySelectorAll(".date")
      // function localDateFromUTC(s) {

      //   var x = s.split(/[-\s:tz]/i);
      //   var d = new Date();

      //   d.setUTCFullYear(x[0], x[1], x[2]);
      //   d.setUTCHours(x[3], x[4], x[5]);
      //   return d;
      // }

      // dates.forEach(date) {
      //   date.innerHTML = localDateFromUTC(date.innerHTML)
      // }

    </script>
    </div>
    <% end %>
  <% end %>
</div>



