<h1>Matches</h1>

<% @matches.each do |match| %>
  <br>
  <%= match.home_country %>
  <br>
  <%= match.away_country %>
  <br>
  <%= match.date %>
  <br>
  <%= match.time %>
  <br>
  <%= match.group %>
  <br>
  <%= match.location %>
  <br>


<% end %>


