<h1>Matches</h1>

<% @matches.each do |match_unit| %>
  <div>
    <%= link_to match_path(match_unit) do %>
      <%= match_unit.home_name %> vs <%= match_unit.away_name%>
    <% end %>
    <%= match_unit.date_string %>
    <br>
    <%= match_unit.location %>
    <br>
  </div>
<% end %>
<%= link_to "home", root_path %>


