<h1>Matches</h1>

<% @matches.each do |match| %>

  <div>
    <%= match.home_team_id %> vs <%= match.away_country %>
    <br>
    <%= match.date %> <%= match.time %>
    <br>
    <%= match.group %>
    <br>
    <%= match.location %>
    <br>
    <br>
  </div>

<% end %>


